.button{
    background-color: #eeeeee;
    display: flex;
    flex:1;
    text-align: center;
    margin: 1px;
    cursor: pointer;
    height: 7rem;
    font-size: 2rem;
    color: #000000;
    padding-left: 1rem;
}

.button:hover{
    background-color: #e0e0e0;
}